In [1]:
import pathlib
import sys
import time

sys.path.append("../featurization")
import numpy as np
import pandas as pd
import skimage
from area_size_shape import measure_3D_area_size_shape
from data_writer import organize_featurization_data
from loading_classes import ImageSetLoader, ObjectLoader

In [2]:
image_set_path = pathlib.Path("../../data/NF0014/cellprofiler/C4-2/")

In [3]:
channel_mapping = {
    "nuclei": "405",
    "AGP": "488",
    "ER": "555",
    "Mito": "640",
    "BF": "TRANS",
    "nuclei_mask": "nuclei_",
    "cell_mask": "cell_",
    "cytoplasm_mask": "cytoplasm_",
    "organoid_mask": "organoid_",
}

In [4]:
image_set_loader = ImageSetLoader(
    image_set_path=image_set_path,
    spacing=(1, 0.1, 0.1),
    channel_mapping=channel_mapping,
)

### Loop through the image set

Run the rest in a script as it takes a long time to run

In [5]:
object_loader = ObjectLoader(
    image_set_loader.image_set_dict["nuclei"],
    image_set_loader.image_set_dict["organoid_mask"],
    "nuclei",
    "organoid_mask",
)
object_loader.object_ids

array([1, 2, 3])

In [6]:
size_shape_dict = measure_3D_area_size_shape(
    image_set_loader=image_set_loader,
    object_loader=object_loader,
)

In [7]:
df = pd.DataFrame(size_shape_dict)
df.head()

,label,VOLUME,MAJOR.AXIS.LENGTH,MINOR.AXIS.LENGTH,CENTER.X,CENTER.Y,CENTER.Z,BBOX.VOLUME,MIN.X,MAX.X,MIN.Y,MAX.Y,MIN.Z,MAX.Z,EXTENT,EULER.NUMBER,EQUIVALENT.DIAMETER,SURFACE.AREA
0,1,25063612.0,1139.502949,42.877306,671.004178,579.229902,15.906512,35072961.0,174,1193,59,1102,0,33,0.714614,1,363.090605,13279.659610
1,2,918967.0,557.303585,8.995113,1302.354523,1364.798838,3.053018,1405792.0,1094,1540,1143,1537,0,8,0.653701,1,120.624011,1555.896627
2,3,1384848.0,558.108749,16.529450,1275.507008,1397.936320,12.397206,2634632.0,1023,1540,1173,1537,7,21,0.525632,1,138.293307,3195.168273