# Merge single cells from CellProfiler outputs using CytoTable

In [1]:
import pathlib
import pprint
import shutil
import sys

import pandas as pd
from cytotable import convert, presets

sys.path.append("../../utils")
import sc_extraction_utils as sc_utils
from parsl.config import Config
from parsl.executors import HighThroughputExecutor

## Set paths and variables

All paths must be string but we use pathlib to show which variables are paths

In [2]:
# type of file output from CytoTable (currently only parquet)
dest_datatype = "parquet"

# s1lite directory
source_dir = pathlib.Path("../../2.cellprofiling/analysis_output/C4-2")
# directory where parquet files are saved to
output_dir = pathlib.Path("../data/converted_data")
output_dir.mkdir(exist_ok=True, parents=True)

## set config joins for each preset

In [3]:
# temporary remove the existing files
paths_to_remove = pathlib.Path("../data").resolve()
if paths_to_remove.exists():
    for f in paths_to_remove.iterdir():
        shutil.rmtree(f)

In [4]:
# preset configurations based on typical CellProfiler outputs
preset = "cellprofiler_sqlite_pycytominer"

presets.config[preset]["CONFIG_NAMES_COMPARTMENTS"] = (
    "cell",
    "nuclei",
    "cytoplasm",
    "organoid",
)

presets.config[preset]["CONFIG_IDENTIFYING_COLUMNS"] = (
    "ImageNumber",
    "Metadata_Well",
    "Parent_Cell",
    "Parent_Nuclei",
    "Parent_Organoid",
)

presets.config[preset]["CONFIG_PAGE_KEYS"] = {
    "image": "ImageNumber",
    "cell": "Cell_Number_Object_Number",
    "nuclei": "Nuclei_Number_Object_Number",
    "cytoplasm": "Cytoplasm_Number_Object_Number",
    "organoid": "Organoid_Number_Object_Number",
    "join": "Cytoplasm_Number_Object_Number",
}

# remove Image_Metadata_Plate from SELECT as this metadata was not extracted from file names
# add Image_Metadata_Site as this is an important metadata when finding where single cells are located
presets.config[preset][
    "CONFIG_JOINS"
    # create filtered list of image features to be extracted and used for merging tables
    # with the list of image features, this will merge the objects together using the image number,
    # and parent objects to create all single cells (all objects associated to one cell)
] = """WITH Per_Image_Filtered AS (
                SELECT
                    Metadata_ImageNumber,
                    Image_Metadata_Well,
                    Image_Metadata_FOV,
                FROM
                    read_parquet('per_image.parquet')
                )
            SELECT
                *
            FROM
                Per_Image_Filtered AS per_image

            LEFT JOIN read_parquet('per_cytoplasm.parquet') AS per_cytoplasm ON
                per_cytoplasm.Metadata_ImageNumber = per_image.Metadata_ImageNumber

            LEFT JOIN read_parquet('per_cell.parquet') AS per_cell ON
                per_cell.Metadata_ImageNumber = per_cytoplasm.Metadata_ImageNumber
                AND per_cell.Cell_Number_Object_Number = per_cytoplasm.Cytoplasm_Parent_Cell

            LEFT JOIN read_parquet('per_nuclei.parquet') AS per_nuclei ON
                per_nuclei.Metadata_ImageNumber = per_cell.Metadata_ImageNumber
                AND per_nuclei.Nuclei_Number_Object_Number = per_cell.Cell_Parent_Nuclei
 """
# LEFT JOIN read_parquet('per_organoid.parquet') AS per_organoid ON
#     per_organoid.Metadata_ImageNumber = per_nuclei.Metadata_ImageNumber
#     AND per_organoid.Organoid_Number_Object_Number = per_nuclei.Nuclei_Parent_Organoid


presets.config["cellprofiler_sqlite_pycytominer"]

{'CONFIG_SOURCE_VERSION': {'cellprofiler': 'v4.2.4',
  'pycytominer': 'c90438fd7c11ad8b1689c21db16dab1a5280de6c'},
 'CONFIG_NAMES_COMPARTMENTS': ('cell', 'nuclei', 'cytoplasm', 'organoid'),
 'CONFIG_NAMES_METADATA': ('image',),
 'CONFIG_IDENTIFYING_COLUMNS': ('ImageNumber',
  'Metadata_Well',
  'Parent_Cell',
  'Parent_Nuclei',
  'Parent_Organoid'),
 'CONFIG_PAGE_KEYS': {'image': 'ImageNumber',
  'cell': 'Cell_Number_Object_Number',
  'nuclei': 'Nuclei_Number_Object_Number',
  'cytoplasm': 'Cytoplasm_Number_Object_Number',
  'organoid': 'Organoid_Number_Object_Number',
  'join': 'Cytoplasm_Number_Object_Number'},
 'CONFIG_CHUNK_SIZE': 1000,
 'CONFIG_JOINS': "WITH Per_Image_Filtered AS (\n                SELECT\n                    Metadata_ImageNumber,\n                    Image_Metadata_Well,\n                    Image_Metadata_FOV,\n                FROM\n                    read_parquet('per_image.parquet')\n                )\n            SELECT\n                *\n            FROM\n                Per_Image_Filtered AS per_image\n\n            LEFT JOIN read_parquet('per_cytoplasm.parquet') AS per_cytoplasm ON\n                per_cytoplasm.Metadata_ImageNumber = per_image.Metadata_ImageNumber\n\n            LEFT JOIN read_parquet('per_cell.parquet') AS per_cell ON\n                per_cell.Metadata_ImageNumber = per_cytoplasm.Metadata_ImageNumber\n                AND per_cell.Cell_Number_Object_Number = per_cytoplasm.Cytoplasm_Parent_Cell\n\n            LEFT JOIN read_parquet('per_nuclei.parquet') AS per_nuclei ON\n                per_nuclei.Metadata_ImageNumber = per_cell.Metadata_ImageNumber\n                AND per_nuclei.Nuclei_Number_Object_Number = per_cell.Cell_Parent_Nuclei\n "}

In [5]:
input_path = source_dir / "C4-2.sqlite"
dest_path = f"{output_dir}/C4-2.parquet"

## Convert SQLite file and merge single cells into parquet file

This was not run to completion as we use the nbconverted python file for full run.

In [6]:
print(f"Performing merge single cells and conversion on {source_dir}!")
print(f"Source path: {input_path}")
print(f"Destination path: {dest_path}")
# merge single cells and output as parquet file
convert(
    source_path=input_path,
    dest_path=dest_path,
    dest_datatype=dest_datatype,
    preset=preset,
    parsl_config=Config(
        executors=[HighThroughputExecutor()],
    ),
    chunk_size=10000,
)
print(f"Merged and converted {pathlib.Path(dest_path).name}!")
df = pd.read_parquet(dest_path)
print(f"Shape of {pathlib.Path(dest_path).name}: {df.shape}")
# add single cell count per well as metadata column to parquet file and save back to same path
sc_utils.add_sc_count_metadata_file(
    data_path=dest_path,
    well_column_name="Metadata_ImageNumber",
    file_type="parquet",
)
# read the parquet file to check if metadata was added
df1 = pd.read_parquet(dest_path)
print(f"Shape of {pathlib.Path(dest_path).name}: {df.shape}")
print(f"Added single cell count as metadata to {pathlib.Path(dest_path).name}!")

Performing merge single cells and conversion on ../../2.cellprofiling/analysis_output/C4-2!
Source path: ../../2.cellprofiling/analysis_output/C4-2/C4-2.sqlite
Destination path: ../data/converted_data/C4-2.parquet
Merged and converted C4-2.parquet!
Shape of C4-2.parquet: (99, 23)
Shape of C4-2.parquet: (99, 23)
Added single cell count as metadata to C4-2.parquet!

In [7]:
# number of columns to display to max
pd.set_option("display.max_columns", None)

In [24]:
# read in the parquet file to check if metadata was added
df = pd.read_parquet(dest_path)
df.head()

,Metadata_ImageNumber,Image_Metadata_FOV,Metadata_number_of_singlecells,Image_Metadata_Well,Metadata_ImageNumber_1,Metadata_ImageNumber_2,Metadata_ImageNumber_3,Cytoplasm_Location_Center_X,Cytoplasm_Location_Center_Y,Cytoplasm_Location_Center_Z,Cytoplasm_Number_Object_Number,Cytoplasm_Parent_Cell,Nuclei_Children_Cell_Count,Nuclei_Location_Center_X,Nuclei_Location_Center_Y,Nuclei_Location_Center_Z,Nuclei_Number_Object_Number,Nuclei_Parent_Organoid,Cell_Children_Cytoplasm_Count,Cell_Location_Center_X,Cell_Location_Center_Y,Cell_Location_Center_Z,Cell_Number_Object_Number,Cell_Parent_Nuclei
0,1,2,99,C4,1,1,1.0,720.758471,193.879486,7.049994,1,1,2.0,715.248712,224.309529,7.806820,1.0,3.0,1,719.122275,202.517496,7.259229,1,1
1,1,2,99,C4,1,1,NaN,958.931941,390.012849,0.000000,2,2,NaN,NaN,NaN,NaN,NaN,NaN,1,958.931941,390.012849,0.000000,2,0
2,1,2,99,C4,1,1,NaN,794.522771,646.754605,1.000000,3,3,NaN,NaN,NaN,NaN,NaN,NaN,1,794.522771,646.754605,1.000000,3,0
3,1,2,99,C4,1,1,1.0,470.420402,223.070723,4.977120,4,4,1.0,503.492571,253.396013,4.949646,22.0,3.0,3,482.159045,233.644757,4.886259,4,22
4,1,2,99,C4,1,1,NaN,310.617761,316.538798,1.500000,5,5,NaN,NaN,NaN,NaN,NaN,NaN,1,310.617761,316.538798,1.500000,5,0

In [26]:
# drop rows that have NaN values
df = df.dropna()
df.shape

(59, 24)

In [27]:
df

,Metadata_ImageNumber,Image_Metadata_FOV,Metadata_number_of_singlecells,Image_Metadata_Well,Metadata_ImageNumber_1,Metadata_ImageNumber_2,Metadata_ImageNumber_3,Cytoplasm_Location_Center_X,Cytoplasm_Location_Center_Y,Cytoplasm_Location_Center_Z,Cytoplasm_Number_Object_Number,Cytoplasm_Parent_Cell,Nuclei_Children_Cell_Count,Nuclei_Location_Center_X,Nuclei_Location_Center_Y,Nuclei_Location_Center_Z,Nuclei_Number_Object_Number,Nuclei_Parent_Organoid,Cell_Children_Cytoplasm_Count,Cell_Location_Center_X,Cell_Location_Center_Y,Cell_Location_Center_Z,Cell_Number_Object_Number,Cell_Parent_Nuclei
0,1,2,99,C4,1,1,1.0,720.758471,193.879486,7.049994,1,1,2.0,715.248712,224.309529,7.806820,1.0,3.0,1,719.122275,202.517496,7.259229,1,1
3,1,2,99,C4,1,1,1.0,470.420402,223.070723,4.977120,4,4,1.0,503.492571,253.396013,4.949646,22.0,3.0,3,482.159045,233.644757,4.886259,4,22
5,1,2,99,C4,1,1,1.0,843.622874,292.087890,1.501617,6,6,2.0,715.248712,224.309529,7.806820,1.0,3.0,1,842.570810,291.781097,1.500000,6,1
7,1,2,99,C4,1,1,1.0,720.614743,430.717722,15.363581,8,8,1.0,756.831546,531.576773,22.302886,53.0,3.0,4,722.124828,431.043220,16.127434,8,53
8,1,2,99,C4,1,1,1.0,169.431116,368.617577,1.000000,9,9,1.0,178.397704,363.355950,1.000000,3.0,0.0,1,175.660261,364.962292,1.000000,9,3
9,1,2,99,C4,1,1,1.0,426.174620,460.779069,13.276953,10,10,1.0,466.132324,466.749976,13.380236,13.0,3.0,3,436.866267,467.269732,13.524059,10,13
10,1,2,99,C4,1,1,1.0,511.405907,566.291485,4.977179,11,11,1.0,505.684966,556.496021,2.508908,5.0,3.0,3,509.155702,562.963224,4.752233,11,5
13,1,2,99,C4,1,1,1.0,651.506642,639.508669,13.196878,14,14,1.0,631.706705,623.896648,14.842532,18.0,3.0,2,647.205528,630.419021,14.820391,14,18
14,1,2,99,C4,1,1,1.0,1088.855650,697.722843,1.493317,15,15,4.0,1104.703567,673.944565,3.001895,6.0,3.0,1,1098.093325,684.379696,1.500000,15,6
15,1,2,99,C4,1,1,1.0,519.055992,730.564191,1.990417,16,16,2.0,565.530449,803.121923,5.578015,8.0,3.0,2,530.597921,748.802547,2.016131,16,8
17,1,2,99,C4,1,1,1.0,585.193952,907.270821,2.867530,18,18,1.0,574.371550,885.230469,2.496682,15.0,3.0,1,582.745723,901.873864,2.895899,18,15
19,1,2,99,C4,1,1,1.0,169.465716,359.325866,2.532926,20,20,1.0,177.088772,363.222409,2.505998,12.0,0.0,1,173.931965,361.608800,2.517149,20,12
20,1,2,99,C4,1,1,1.0,444.000000,518.000000,2.000000,21,10,1.0,466.132324,466.749976,13.380236,13.0,3.0,3,436.866267,467.269732,13.524059,10,13
21,1,2,99,C4,1,1,1.0,402.830490,672.864586,14.097671,22,21,1.0,451.909724,619.928142,18.854178,55.0,3.0,1,415.376986,672.234694,14.103183,21,55
22,1,2,99,C4,1,1,1.0,1236.483550,1401.834663,2.525689,23,22,1.0,1239.789727,1430.506473,1.991554,10.0,2.0,1,1239.913328,1428.055859,2.500000,22,10
23,1,2,99,C4,1,1,1.0,847.366896,69.486813,3.000000,24,23,1.0,843.576183,65.385355,3.000000,16.0,0.0,1,846.800530,68.874019,3.000000,23,16
25,1,2,99,C4,1,1,1.0,447.000000,522.000000,3.000000,26,10,1.0,466.132324,466.749976,13.380236,13.0,3.0,3,436.866267,467.269732,13.524059,10,13
26,1,2,99,C4,1,1,1.0,1099.741623,727.304334,3.000000,27,25,4.0,1104.703567,673.944565,3.001895,6.0,3.0,1,1102.147101,701.763048,3.000000,25,6
27,1,2,99,C4,1,1,1.0,835.454878,770.063512,10.229284,28,26,2.0,828.474575,752.657394,14.415914,19.0,3.0,1,835.629536,766.331356,9.800031,26,19
29,1,2,99,C4,1,1,1.0,560.000000,839.000000,3.000000,30,16,2.0,565.530449,803.121923,5.578015,8.0,3.0,2,530.597921,748.802547,2.016131,16,8
34,1,2,99,C4,1,1,1.0,847.366896,69.486813,4.000000,35,32,1.0,843.576183,65.385355,4.000000,21.0,0.0,1,846.800530,68.874019,4.000000,32,21
35,1,2,99,C4,1,1,1.0,867.803006,293.422518,9.234137,36,33,1.0,864.987588,348.167510,11.304867,30.0,3.0,2,866.968780,311.851114,9.798417,33,30
36,1,2,99,C4,1,1,1.0,170.971605,358.132099,4.000000,37,34,1.0,177.415736,363.118018,4.000000,24.0,3.0,1,174.578146,360.922533,4.000000,34,24
37,1,2,99,C4,1,1,1.0,1099.741623,727.304334,4.000000,38,35,4.0,1104.703567,673.944565,3.001895,6.0,3.0,1,1102.147101,701.763048,4.000000,35,6
38,1,2,99,C4,1,1,1.0,802.538468,635.863458,8.532353,39,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
40,1,2,99,C4,1,1,1.0,679.262767,789.493352,4.965353,41,38,2.0,698.586038,801.705698,7.448260,14.0,3.0,1,688.981741,795.560205,4.993064,38,14
41,1,2,99,C4,1,1,1.0,847.354245,69.399611,5.000000,42,39,1.0,843.598201,65.834333,5.000000,28.0,0.0,1,846.800530,68.874019,5.000000,39,28
42,1,2,99,C4,1,1,1.0,171.634395,357.696178,5.000000,43,40,1.0,176.769559,363.324324,5.000000,31.0,3.0,1,174.578146,360.922533,5.000000,40,31
43,1,2,99,C4,1,1,1.0,1103.941207,716.705961,5.510331,44,41,4.0,1104.703567,673.944565,3.001895,6.0,3.0,1,1104.297426,695.887973,5.499035,41,6
49,1,2,99,C4,1,1,1.0,169.827509,357.894424,6.000000,50,47,1.0,177.145008,364.055695,6.000000,33.0,3.0,1,174.196525,361.573098,6.000000,47,33
50,1,2,99,C4,1,1,1.0,701.500000,414.500000,6.000000,51,8,1.0,756.831546,531.576773,22.302886,53.0,3.0,4,722.124828,431.043220,16.127434,8,53
51,1,2,99,C4,1,1,1.0,705.000000,416.000000,6.000000,52,8,1.0,756.831546,531.576773,22.302886,53.0,3.0,4,722.124828,431.043220,16.127434,8,53
52,1,2,99,C4,1,1,1.0,593.864949,808.459005,6.958780,53,48,2.0,565.530449,803.121923,5.578015,8.0,3.0,1,575.878198,805.247535,6.960221,48,8
55,1,2,99,C4,1,1,1.0,578.704274,241.112920,11.627571,56,51,1.0,582.158415,279.159119,10.137821,29.0,3.0,1,579.636857,251.430610,11.524012,51,29
56,1,2,99,C4,1,1,1.0,897.944123,560.632896,15.991067,57,52,1.0,905.911435,576.856649,17.324770,35.0,3.0,1,899.772871,567.955270,15.862880,52,35
57,1,2,99,C4,1,1,1.0,340.633596,334.916382,8.491966,58,53,2.0,388.447713,310.663028,10.734914,23.0,3.0,1,357.410946,325.567544,8.500000,53,23
58,1,2,99,C4,1,1,1.0,534.000000,235.500000,8.000000,59,4,1.0,503.492571,253.396013,4.949646,22.0,3.0,3,482.159045,233.644757,4.886259,4,22
59,1,2,99,C4,1,1,1.0,535.000000,242.500000,8.000000,60,4,1.0,503.492571,253.396013,4.949646,22.0,3.0,3,482.159045,233.644757,4.886259,4,22
63,1,2,99,C4,1,1,1.0,501.500000,510.000000,8.000000,64,11,1.0,505.684966,556.496021,2.508908,5.0,3.0,3,509.155702,562.963224,4.752233,11,5
65,1,2,99,C4,1,1,1.0,483.000000,523.000000,8.000000,66,11,1.0,505.684966,556.496021,2.508908,5.0,3.0,3,509.155702,562.963224,4.752233,11,5
67,1,2,99,C4,1,1,1.0,718.104946,838.773245,12.282130,68,59,2.0,698.586038,801.705698,7.448260,14.0,3.0,1,712.579491,829.347791,11.829978,59,14
69,1,2,99,C4,1,1,1.0,392.560343,313.534308,15.959511,70,61,2.0,388.447713,310.663028,10.734914,23.0,3.0,1,392.523984,313.777032,15.619196,61,23
70,1,2,99,C4,1,1,1.0,960.277410,744.535105,15.435176,71,62,1.0,950.646433,706.696426,14.816756,50.0,3.0,1,956.243583,731.142111,15.534396,62,50
72,1,2,99,C4,1,1,1.0,906.000000,378.000000,13.000000,73,33,1.0,864.987588,348.167510,11.304867,30.0,3.0,2,866.968780,311.851114,9.798417,33,30
73,1,2,99,C4,1,1,1.0,606.875601,739.709549,15.197813,74,64,2.0,610.797515,747.221946,18.175959,54.0,3.0,1,609.255633,743.552128,15.178230,64,54
74,1,2,99,C4,1,1,1.0,991.797563,475.730697,15.365687,75,65,2.0,913.823236,419.813232,15.264178,47.0,3.0,1,974.050567,462.915972,15.401598,65,47
75,1,2,99,C4,1,1,1.0,800.000000,326.500000,14.000000,76,8,1.0,756.831546,531.576773,22.302886,53.0,3.0,4,722.124828,431.043220,16.127434,8,53
76,1,2,99,C4,1,1,1.0,802.000000,666.000000,15.000000,77,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
77,1,2,99,C4,1,1,1.0,798.500000,667.000000,15.000000,78,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
78,1,2,99,C4,1,1,1.0,795.500000,668.000000,15.000000,79,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
79,1,2,99,C4,1,1,1.0,792.500000,669.000000,15.000000,80,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
80,1,2,99,C4,1,1,1.0,790.000000,670.000000,15.000000,81,36,1.0,809.759978,640.091533,9.509036,26.0,3.0,6,806.030945,637.450188,8.776905,36,26
89,1,2,99,C4,1,1,1.0,806.845094,782.846883,23.107931,90,74,2.0,828.474575,752.657394,14.415914,19.0,3.0,1,809.481181,774.283771,22.685500,74,19
90,1,2,99,C4,1,1,1.0,574.952758,380.278730,22.152459,91,75,1.0,561.995086,383.963290,20.906818,57.0,3.0,1,569.521498,380.964819,22.053376,75,57
91,1,2,99,C4,1,1,1.0,817.081338,619.155742,25.731102,92,76,1.0,804.477769,624.724979,26.417888,60.0,3.0,1,810.197306,621.884877,25.615232,76,60
92,1,2,99,C4,1,1,1.0,936.957091,421.930014,21.558409,93,77,2.0,913.823236,419.813232,15.264178,47.0,3.0,1,933.766810,422.046638,21.497561,77,47
93,1,2,99,C4,1,1,1.0,556.257245,763.081741,23.051988,94,78,2.0,610.797515,747.221946,18.175959,54.0,3.0,1,566.951416,759.961338,22.917035,78,54
95,1,2,99,C4,1,1,1.0,1033.630488,561.042263,27.426760,96,80,1.0,1026.650477,562.997030,27.496947,63.0,3.0,1,1030.397207,561.918114,27.749412,80,63
97,1,2,99,C4,1,1,1.0,659.285714,653.428571,26.000000,98,14,1.0,631.706705,623.896648,14.842532,18.0,3.0,2,647.205528,630.419021,14.820391,14,18