In [1]:
import pathlib
import sys

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
parquet_files_path = pathlib.Path("../../2.cellprofiling/results/C4-2").resolve(
    strict=True
)
parquet_files = sorted(parquet_files_path.glob("*.parquet"))
df = pd.read_parquet(parquet_files[0])
df1 = pd.read_parquet(parquet_files[1])
# if object_id in column name then rename it to object_id
for col in df.columns:
    if "object_id" in col:
        df.rename(columns={col: "object_id"}, inplace=True)
        break

for col in df1.columns:
    if "object_id" in col:
        df1.rename(columns={col: "object_id"}, inplace=True)
        break

,Cell_AGP_object_id,Cell_AGP_VOLUME,Cell_AGP_CENTER.X,Cell_AGP_CENTER.Y,Cell_AGP_CENTER.Z,Cell_AGP_BBOX.VOLUME,Cell_AGP_MIN.X,Cell_AGP_MAX.X,Cell_AGP_MIN.Y,Cell_AGP_MAX.Y,Cell_AGP_MIN.Z,Cell_AGP_MAX.Z,Cell_AGP_EXTENT,Cell_AGP_EULER.NUMBER,Cell_AGP_EQUIVALENT.DIAMETER,Cell_AGP_SURFACE.AREA,image_set
0,1,568988.0,719.122275,202.517496,7.259229,1251234.0,585,867,74,335,0,17,0.454741,1,102.809874,NaN,C4-2
1,2,282429.0,482.211756,232.275581,4.348895,647559.0,377,588,89,368,0,11,0.436144,1,81.402340,NaN,C4-2
2,3,17578.0,310.617761,316.538798,0.000000,35032.0,239,390,190,422,0,1,0.501770,1,32.259449,NaN,C4-2
3,4,80112.0,842.150514,291.966722,0.995282,120045.0,693,958,212,363,0,3,0.667350,1,53.485121,NaN,C4-2
4,5,57954.0,625.372330,298.719881,1.408686,101376.0,551,727,221,365,0,4,0.571674,1,48.013305,NaN,C4-2

In [6]:
feature_types_dict = {
    "AreaSize_Shape": [],
    "Colocalization": [],
    "Intensity": [],
    "Granularity": [],
    "Neighbor": [],
    "Texture": [],
}

In [8]:
for file in parquet_files:
    for feature_type in feature_types_dict.keys():
        if feature_type in file.stem:
            feature_types_dict[feature_type].append(file)
feature_types_dict.keys()

dict_keys(['AreaSize_Shape', 'Colocalization', 'Intensity', 'Granularity', 'Neighbor', 'Texture'])

In [22]:
area_size_shape_files = [
    pd.read_parquet(file) for file in feature_types_dict["AreaSize_Shape"]
]
# merge all dataframes in the list on the object_id column
final_df = pd.DataFrame()
for file in feature_types_dict["AreaSize_Shape"]:
    df = pd.read_parquet(file)
    for col in df.columns:
        if "object_id" in col:
            df.rename(columns={col: "object_id"}, inplace=True)
            break
    if not final_df.empty:
        final_df = pd.merge(final_df, df, on=["object_id", "image_set"], how="outer")
    else:
        final_df = df
final_df

,object_id,Cell_AGP_VOLUME_x,Cell_AGP_CENTER.X_x,Cell_AGP_CENTER.Y_x,Cell_AGP_CENTER.Z_x,Cell_AGP_BBOX.VOLUME_x,Cell_AGP_MIN.X_x,Cell_AGP_MAX.X_x,Cell_AGP_MIN.Y_x,Cell_AGP_MAX.Y_x,...,Organoid_Mito_MIN.X_y,Organoid_Mito_MAX.X_y,Organoid_Mito_MIN.Y_y,Organoid_Mito_MAX.Y_y,Organoid_Mito_MIN.Z_y,Organoid_Mito_MAX.Z_y,Organoid_Mito_EXTENT_y,Organoid_Mito_EULER.NUMBER_y,Organoid_Mito_EQUIVALENT.DIAMETER_y,Organoid_Mito_SURFACE.AREA_y
0,1,568988.0,719.122275,202.517496,7.259229,1251234.0,585.0,867.0,74.0,335.0,...,124.0,1152.0,45.0,1047.0,0.0,33.0,0.616287,1.0,342.021178,NaN
1,2,282429.0,482.211756,232.275581,4.348895,647559.0,377.0,588.0,89.0,368.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,17578.0,310.617761,316.538798,0.000000,35032.0,239.0,390.0,190.0,422.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,80112.0,842.150514,291.966722,0.995282,120045.0,693.0,958.0,212.0,363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,57954.0,625.372330,298.719881,1.408686,101376.0,551.0,727.0,221.0,365.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
colocalization_files = [
    pd.read_parquet(file) for file in feature_types_dict["Colocalization"]
]
colocalization_df = pd.concat(colocalization_files, ignore_index=True)
intensity_files = [pd.read_parquet(file) for file in feature_types_dict["Intensity"]]
intensity_df = pd.concat(intensity_files, ignore_index=True)
# granularity_files = [pd.read_parquet(file) for file in feature_types_dict["Granularity"]]
# granularity_df = pd.concat(granularity_files, ignore_index=True)
# neighbor_files = [pd.read_parquet(file) for file in feature_types_dict["Neighbor"]]
# neighbor_df = pd.concat(neighbor_files, ignore_index=True)
# texture_files = [pd.read_parquet(file) for file in feature_types_dict["Texture"]]
# texture_df = pd.concat(texture_files, ignore_index=True)

In [12]:
intensity_df

,Cell_AGP_object_id,Cell_AGP_feature_name,Cell_AGP_channel,Cell_AGP_compartment,Cell_AGP_value,image_set,Cell_BF_object_id,Cell_BF_feature_name,Cell_BF_channel,Cell_BF_compartment,...,Organoid_ER_object_id,Organoid_ER_feature_name,Organoid_ER_channel,Organoid_ER_compartment,Organoid_ER_value,Organoid_Mito_object_id,Organoid_Mito_feature_name,Organoid_Mito_channel,Organoid_Mito_compartment,Organoid_Mito_value
0,1.0,INTEGRATED.INTENSITY,AGP,Cell,234753062.0,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,VOLUME,AGP,Cell,193319.0,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,MEAN.INTENSITY,AGP,Cell,1214.0,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,STD.INTENSITY,AGP,Cell,594.0,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,MIN.INTENSITY,AGP,Cell,539.0,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277755,NaN,NaN,NaN,NaN,NaN,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,INTEGRATED.INTENSITY.EDGE,Mito,Organoid,54784937.0
277756,NaN,NaN,NaN,NaN,NaN,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,MEAN.INTENSITY.EDGE,Mito,Organoid,2402.0
277757,NaN,NaN,NaN,NaN,NaN,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,STD.INTENSITY.EDGE,Mito,Organoid,549.0
277758,NaN,NaN,NaN,NaN,NaN,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,MIN.INTENSITY.EDGE,Mito,Organoid,0.0
277759,NaN,NaN,NaN,NaN,NaN,C4-2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,MAX.INTENSITY.EDGE,Mito,Organoid,42747.0

In [4]:
df1.head()

,object_id,Cell_BF_VOLUME,Cell_BF_CENTER.X,Cell_BF_CENTER.Y,Cell_BF_CENTER.Z,Cell_BF_BBOX.VOLUME,Cell_BF_MIN.X,Cell_BF_MAX.X,Cell_BF_MIN.Y,Cell_BF_MAX.Y,Cell_BF_MIN.Z,Cell_BF_MAX.Z,Cell_BF_EXTENT,Cell_BF_EULER.NUMBER,Cell_BF_EQUIVALENT.DIAMETER,Cell_BF_SURFACE.AREA,image_set
0,1,568988.0,719.122275,202.517496,7.259229,1251234.0,585,867,74,335,0,17,0.454741,1,102.809874,NaN,C4-2
1,2,282429.0,482.211756,232.275581,4.348895,647559.0,377,588,89,368,0,11,0.436144,1,81.402340,NaN,C4-2
2,3,17578.0,310.617761,316.538798,0.000000,35032.0,239,390,190,422,0,1,0.501770,1,32.259449,NaN,C4-2
3,4,80112.0,842.150514,291.966722,0.995282,120045.0,693,958,212,363,0,3,0.667350,1,53.485121,NaN,C4-2
4,5,57954.0,625.372330,298.719881,1.408686,101376.0,551,727,221,365,0,4,0.571674,1,48.013305,NaN,C4-2

In [5]:
# merge the two dataframes
merged_df = pd.merge(df, df1, on="object_id", how="inner")
print(df.shape, df1.shape, merged_df.shape)

(88, 17) (88, 17) (88, 33)